################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HRMSmvc/Areas/User/Controllers/UserController.cs
