@using Domain.DTO
@model PayrollDTO
@{
    ViewData["Title"] = "Generate Payroll";
    Layout = "_Layout";

}

<div class="card">
    <div class="card-body">
        <h3 class="card-title">Generate Payroll</h3>


<form asp-action="GeneratePayroll" asp-controller="Payroll" asp-area="Admin" id="genpayrollForm" method="post">
    <input type="hidden" id ="userId" name="userId" value="@Model.UserId" />
            <div class="row mb-3 mt-3">
                <div class="col-6">
                    <label asp-for="Year"></label>
                    <input asp-for="Year" class="form-control" />
                    @* <span asp-validation-for="FirstName" class="text-danger"></span> *@
                </div>
                <div class="col-6">
                    <label asp-for="Month"></label>
                    <input asp-for="Month" class="form-control" />
                    @* <span asp-validation-for="Email" class="text-danger"></span> *@
                </div>
            </div>
            <div class="row mb-3 mt-3">
                <div class="col-4">
                    <label asp-for="BasicSalary"></label>
                    <input asp-for="BasicSalary" class="form-control" />
                    @* <span asp-validation-for="PhoneNumber" class="text-danger"></span> *@
                </div>
                <div class="col-4">
                    <label asp-for="Allowances"></label>
                    <input asp-for="Allowances" class="form-control" />
                    @* <span asp-validation-for="PhoneNumber" class="text-danger"></span> *@
                </div>
                <div class="col-4">
                    <label asp-for="Deductions"></label>
                    <input asp-for="Deductions" class="form-control" />
                    @* <span asp-validation-for="PhoneNumber" class="text-danger"></span> *@
                </div>
            </div>
        <div class="text-center">
        <button type="submit" class="btn btn-primary mt-3 mb-3">Generate</button>
        <a asp-controller="Dashboard" asp-action="Index" asp-area="Admin" class="btn btn-primary">Back</a>
    </div>
</form>
</<div>

</div>

@section Scripts {
    <script src="~/js/admin.js"></script>
    <script src="~/js/payroll.js"></script>

}