@model Domain.Models.User
@{
    ViewData["Title"] = "Create Employee";
	var action = "Create";
}
@* <h2>Create Employee</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DateOfBirth"></label>
        <input asp-for="DateOfBirth" type ="date"class="form-control" />
        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="JoiningDate"></label>
        <input asp-for="JoiningDate" type = "date" class="form-control" />
        <span asp-validation-for="JoiningDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Position"></label>
        <input asp-for="Position" class="form-control" />
        <span asp-validation-for="Position" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Salary"></label>
        <input asp-for="Salary" class="form-control" />
        <span asp-validation-for="Salary" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Add Student</button>
    <a asp-controller="Employee" asp-action="Index" class="btn btn-primary">Back</a>

</form> *@

@if (Model.Id == null)
{
    action = "Create";
    Model.Id = Model.Id ?? Guid.Empty.ToString();

}
else
{
    action = "Edit";
}


<form asp-action=@action asp-controller="Dashboard" asp-area="Admin" id="AdminEditForm" method="post">
    <input type="hidden" name="Id" value="@Model.Id" />

        <div class="col-12">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            @* <span asp-validation-for="FirstName" class="text-danger"></span> *@
        </div>
        <div class="col-12">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            @* <span asp-validation-for="Email" class="text-danger"></span> *@
        </div>
        <div class="col-12">
            <label asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" class="form-control" />
            @* <span asp-validation-for="PhoneNumber" class="text-danger"></span> *@
        </div>
        <div class="col-12">
            <label asp-for="DOB"></label>
        <input asp-for="DOB" class="form-control" id="DOB" type="text"
               value="@Model.DOB.ToString("yyyy-MM-dd")" />
        @* <span asp-validation-for="DateOfBirth" class="text-danger"></span> *@
        </div>

        <div class="col-12">
            <label asp-for="JoiningDate"></label>
        <input asp-for="JoiningDate" class="form-control" id="JoiningDate" type="text"
               value="@Model.JoiningDate.ToString("yyyy-MM-dd")" />
        @* <span asp-validation-for="DateOfBirth" class="text-danger"></span> *@
        </div>
        <div class="col-12">
            <label asp-for="Position"></label>
            <input asp-for="Position" class="form-control" />
            @* <span asp-validation-for="Position" class="text-danger"></span> *@
        </div>
        <div class="col-12">
            <label asp-for="Salary"></label>
            <input asp-for="Salary" class="form-control" />
            @* <span asp-validation-for="Salary" class="text-danger"></span> *@
        </div>
        <div class="col-12">
            <label asp-for="Address"></label>
            <input asp-for="Address" class="form-control" />
            @* <span asp-validation-for="Address" class="text-danger"></span> *@
        </div>
        <div></div>
        <div class="text-center">
        @if (action == "Create")
        {
            <button type="submit" class="btn btn-primary mt-3 mb-3">Add Employee</button>
        }
        else
        {
            <button type="submit" class="btn btn-primary mt-3 mb-3">Edit Employee</button>
        }

        <a asp-controller="Dashboard" asp-action="Index" asp-area="Admin" class="btn btn-primary">Back</a>
            <button type="reset" class="btn btn-secondary">Reset</button>
        </div>
    </form>

@section Scripts {
	<script src="~/js/userindex.js"></script>
    <script src="~/js/admin.js"></script>
}
